.main-carthome {
    width: 100%;
    // height: 100vh;
    overflow: hidden;
    position: relative;
    .wave
    {
      position: relative;
      margin-bottom: 20px;
      img
      {
          position: absolute;
      }
    }
    .inputs {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        z-index:1000000;
        position: relative;
        input {
            padding: 10px;
            border-radius: 10px;
            outline: none;
            border: none;
            border: 2px solid cyan;
        }
    }
}
